<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout.html">
<head>
    <meta charset="UTF-8">
    <title>Add city</title>
</head>
<body>
<div layout:fragment="content">
    <section class="container-xl">
        <div th:if="${success}" th:text="${success}" class="bg-success text-white mb-3 p-2"></div>
        <a th:href="@{/}" class="btn btn-outline-dark mb-3">Home</a>
        <div class="card">
            <div class="card-header">
                <div class="card-title m-0">Chỉnh sửa thành phố</div>
            </div>
            <div class="card-body">
                <form th:action="@{/edit/{id}(id=${city.getId()})}" method="POST" th:object="${city}">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="name">Tên thành phố</label>
                        <input type="text" class="form-control" id="name" name="name" th:field="*{name}" required />
                    </div>
                    <div class="form-group">
                        <label for="country">Quốc gia</label>
                        <select name="country" id="country" class="form-control">
                            <th:block th:each="country: ${listCountry}">
                                <option th:if="${city.country.getId() == country.getId()}" th:value="${country.getId()}" th:text="${country.getName()}" selected></option>
                                <option th:unless="${city.country.getId() == country.getId()}" th:value="${country.getId()}" th:text="${country.getName()}"></option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="acreage">Diện tích</label>
                        <input type="number" class="form-control" id="acreage" name="acreage" th:field="*{acreage}" required />
                    </div>
                    <div class="form-group">
                        <label for="population">Dân số</label>
                        <input type="number" class="form-control" id="population" name="population" th:field="*{population}"  required />
                    </div>
                    <div class="form-group">
                        <label for="gdp">GDP</label>
                        <input type="number" class="form-control" id="gdp" name="gdp" th:field="*{gdp}" required />
                    </div>
                    <div class="form-group">
                        <label for="description">Mô tả</label>
                        <textarea class="form-control" id="description" name="description" th:field="*{description}" rows="5"></textarea>
                    </div>
                    <button class="btn btn-outline-success" type="submit">Update</button>
                    <a th:href="@{/}" class="btn btn-outline-dark">Home</a>
                </form>
            </div>
        </div>
    </section>
</div>
</body>
</html>
