<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout.html">
<head>
    <meta charset="UTF-8">
    <title>City</title>
</head>
<body>
<div layout:fragment="content">
    <section class="container-xl">
        <div th:if="${success}" th:text="${success}" class="bg-success text-white mb-3 p-2"></div>
        <div class="mb-3">
            <a th:href="@{/add}" class="btn btn-outline-success">Add city</a>
            <a th:href="@{/country}" class="btn btn-outline-dark">Country manager</a>
        </div>
        <div class="card">
            <div class="card-header">
                <div class="card-title m-0">City</div>
            </div>
            <div class="card-body p-0">
                <table class="table m-0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>City</th>
                        <th>Country</th>
                        <th class="text-right">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="city, m: ${lists}">
                        <td class="align-middle" th:text="${m.index + 1}"></td>
                        <td th:text="${city.getName()}" class="align-middle"></td>
                        <td th:text="${city.country.getName()}" class="align-middle"></td>
                        <td class="text-right">
                            <a class="btn btn-outline-dark" th:href="@{/city/{id}(id=${city.getId()})}">View</a>
                            <a class="btn btn-outline-dark" th:href="@{/edit/{id}(id=${city.getId()})}">Edit</a>
                            <a class="btn btn-outline-dark" th:href="@{/delete/{id}(id=${city.getId()})}">Delete</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
</body>
</html>
